.main-with-details {
  display: flex;
  width: 100%;
  position: relative;
  padding-bottom: 70px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.main-section {
  flex: 1;
}

.details-section {
  width: 300px;
  border-left: 1px solid var(--detail-border-color);
  background-color: var(--detail-bg);
}