.pokemon-detail {
  padding: 1rem;
  border-left: 1px solid var(--detail-border-color);
  width: 300px;
  background-color: var(--detail-bg);
  color: var(--text-color);
}

.pokemon-detail__close-button {
  background-color: var(--close-button-bg);
  color: var(--close-button-text);
  border: none;
  padding: 0.4rem 0.8rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.pokemon-detail__close-button:hover {
  background-color: var(--close-button-hover);
}

.pokemon-detail__info {
  text-align: center;
}