.main {
  padding: 1rem;
}

.main__break-button {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--danger-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.main__break-button:hover {
  background-color: var(--danger-hover-color);
}

.main__error {
  color: var(--error-color);
  font-weight: bold;
}